*
{
margin : 0;
padding : 0;
color: rgb(255, 255, 255);
font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
box-sizing: border-box;
}
/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
    height: 0;}/* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(20, 14, 18);
    border-radius: 10px;}
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 16, 70);
    border-radius: 10px;}
  ::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 255, 255);
    border-radius: 20px; }  /* close scroolbar */
    .logo{mix-blend-mode:soft-light; margin-top: 80px; margin-right: 150vh;background: transparent;} .logo:hover{mix-blend-mode: screen;}
.header{
  height: initial;
    text-shadow: 3px 2px 9px rgb(0, 0, 0);
    text-align: center;
    font-size: 4vh;
    padding-top: 200px;
    padding-left:200px;
    padding-right:202px;
    background: transparent;
    color: rgb(255, 255, 255); transition: 0.3s;} .header:hover{text-shadow: 5px 5px 10px rgb(0, 1, 27);transition: 0.4s; }
.bg{
    width: 100%;
    background-image: url(.//bacgrounds/rings.jpg);
    background-size: cover ;
    height: 900px;}
    .paragragh{
      padding: 50px; text-align: center;
      margin-left: 150px ;font-size: 15.3px;
      margin-right: 150px;
    }
    .bg1{
      width: 100%;
      background-image: url(.//bacgrounds/ps.jpg);
      background-size: cover ;
      height: 900px;}
      .bg2{
        width: 100%;
        background-image: url(.//bacgrounds/dragonfly.jpg);
        background-size: cover ;
        height: 900px;}
      .bg3{
        width: 100%;
        background-image: url(.//bacgrounds/stars2.jpg);
        background-size: cover ;
        height: 900px;}
      .bg4{
        width: 100%;
        background-image: url(.//bacgrounds/earphone.jpg);
        background-size: cover ;
        height: 900px;}
  
  
