*
{
margin : 0;
padding : 0;
font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
box-sizing: border-box;
background-color: #000000;
}
/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
    height: 0;}/* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(20, 14, 18);
    border-radius: 10px;}
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 16, 70);
    border-radius: 10px;}
  ::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 255, 255);
    border-radius: 20px;
  }  /* close scroolbar */
 
  .logostartup {
    width: 70%;
    height: 100%; padding-top: 0;margin-top: 0;
    position: relative;
    margin: 0 150px;
  }

  .navbar{
    align-items: center;  height: 50px; width:100%; z-index: 9px;
  }
  .all-links{
    background-color:#fafcff;
    width: 100%;
    display: flex;
    padding: 1px 1px;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 9;
  }

  .link{
    background-color:#fafcff;
    text-transform: capitalize;

    padding: 0 10px;
    text-decoration: none;
    color: #021127;
    opacity: 0.35;
    transition: 0.35s;
  } .link:hover{opacity: 1;}